*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
    background-image: linear-gradient(rgba(0,0,50,0.3),rgba(0,0,50,0.3)),url(brain.jpeg);
    width:100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    width:100%;
    background-color: transparent;
    display: flex;
    position: fixed;
    align-items:center;
    justify-content: space-between;
    top:0;
    padding: 8 50px;
    backdrop-filter:blur(8px);
    
    
}


.nav-link{
    text-align: right;
    flex: 1;
}

.logo{
    color:white;
    font-size: 29px;
    text-decoration: none;
}

.nav-link ul li{
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:8px 12px;
}

.nav-link ul li a{
    text-decoration: none;
    color:white;
}

.nav-link ul li a:hover{
    color:#FFDB58;
}

.intro{
    width:90%;
    height: 50%;
    color:white;
    text-align: center;
    position:relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h3{
    font-size: 20px;
}
h1{
    font-size: 84px;
    font-family: 'Times New Roman', Times, serif;
}
h1,h3{
    margin: 10px;
}


/*home*/
#home{
    width:100%;
    height: 690.9px;
    display:flex;
    padding:96px 165px;
}

/*aboutus*/
#aboutus{
    width:100%;
    height:725px;
    background-color:#8faec3;
    padding: 50px 165px; 
}
.info{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:100px;
}

/*contact*/
#contact{
    width:100%;
    height: 600px;
    padding: 10px 105px;
    background-color: #02305e;
}
.contact{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}
.emaillogo{
    display:flex;
    flex:1;
}

.emaillogo img{
    width:30px;
    height:auto;
}

.me2{
    font-size:42px;
    color:white;
}
.contact{
    color: rgb(252, 251, 248);
    font-size:42px;
}
.emailid{
    color:rgb(212, 232, 250);
    font-size:20px;
}

.email{
    padding: 25 25 25 25px;
}

/*Member info*/
.infomembox{
    padding:  15px;
}

.meminfo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px;
}

.member {
    width: 300px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 40px;
    margin: 20px;
    box-shadow: 4px 5px 7px 0 #cdeff8;
}
.member1 {
    width: 1150px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 50px;
    margin: 20px;
    box-shadow: 4px 5px 7px 0 #cdeff8;
}
.info p{
    color:#333;
    font-size: 50px;
}
.member h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.member p {
    font-size: 16px;
    margin: 5px 0;
}

/* footer */
footer {
    background-color:  #8faec3;
    padding: 25px 0;
    text-align: center;
}

footer .container {
    max-width: 960px;
    margin: 0 auto;
}

.container p{
    color:#333;
    font-weight: bold;
}

footer p {
    font-size: 14px;
    color: #666;
    margin: 0;
}

footer #copyright-year {
    font-weight: bold;
    color: #333;
}
/* Style for noticeboard */
#noticeboard{
    width:100%;
    /* height:690.9px; */
    height: 100%;
    background-color:#8faec3;
    padding: 55px 165px;
}
.awareness, .prevention, .facts{
    display:flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap:12px;
    background-color: #cdeff8;
    padding: 30px;
    margin: 30px;
    border-radius: 30px;
}
.notice p{
    color:#333;
    font-size: 50px;
}
/* Style for noticeboard ends here */
